* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  min-height: 100vh;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 8px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 8px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}

.clock::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: #fff;
  width: var(--w);
  height: var(--h);
  border-radius: 8px;
}
